/01_공통교양과목리스트.txt
/01_체육과목리스트.txt
/cour_opt_table.pickle
/department_pickle
/dept_kratio_top3.csv
/dept_rename.xlsx
/df_merge.pickle
/hanguel.csv
/I_to_1.csv
/k_temp.csv
/open2020.pickle
/result.csv
/result14000.csv
/result19000.csv
/same_CD.csv
/same_NM.csv
/test.py
/학과별_k비율.csv